* {
  box-sizing: border-box;
}


.container.fluid{
  height: 80%;
}
.jumbotron{
  margin-bottom: 0px;
}
.header {
  position: relative;
  overflow: hidden;
  font-size: 2rem;
  /* border: #abc solid 1px ; */
  background: #F5F5F5;
  border-bottom: 1px solid #789;
}
.header-icon{
  position: absolute;
  bottom: 0px;
}
.col-sm-4, .col-sm-8{
  padding:0;
}
.col-sm-4 .col-sm-6{
  margin: auto;
}
.col-xl{
  padding: 0px;
}
.tree-view{
  background-color: #F5F5F5;
  min-height: 300px !important;
}
.config-row{
  margin: 0px;
  border: #0af solid transparent;
}
.config-option-row{
  width: 100%;
  margin: 0;
  text-align: center;
  background-color: #F5F5F5;
}
.config-option-btn{
  width: 100%;
  height: 3rem;
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.config-option-radio-btn{
  width: 100%;
}
#code-selection{
  border: none;
  display: block;
  cursor: pointer;
  font-weight: 300;
  color: rgb(26, 57, 88);
  width: 100%;
  padding: 10px;
  margin: 10px;
  height: 3rem;
  border: 1px solid #eaeaea;
  outline: none;
}
#code-selection:hover {
  border-color: #789;
}
#code-selection:focus{
  border-color: #4d90fe;
}
.reset-button, .function-button {
  height: 3rem;
  width: fit-content;
}

section {
  padding: 1.5rem 0 0;
  text-align: center;
}
#barcode-display-1D{
  text-align: center;
}
#barcode-display-datamatrix, #barcode-display-allInOne{
  text-align: center;
  display: block;
}
.header-icon {
  display: inline-block;
}
.pdf-icon::before{
  content: url('./images/pdf-32.png');
  display:inline-block;
}
.print-icon::before {
  content: url('./images/printer-32.png');
  display: inline-block;
}
.import-icon::before {
  content: url('./images/ccf_import_32.png');
  display: inline-block;
}
.export-icon::before {
  content: url('./images/ccf_export_32.png');
  display: inline-block;
}
img:hover{
  cursor: pointer;
}
ul, #myUL {
  list-style-type: none;
}
#myUL {
  margin: 0;
  padding: 0;
  height: 30rem;
  width: 28rem;
  border: 1px solid transparent;
}

.caret, .nested li {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
li{
  font-weight: 400;
  cursor: pointer;
  color: #444;
}
li:hover {
  color: #0af;
}
li.active{
  font-weight: bold;
}
.caret::before {
  content: url('./images/arrow.png');
  color: black;
  display: inline-block;
  margin-right: 5px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); 
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  /* content: url('./images/folder-opened.png'); */
}

.nested {
  display: none;
}

.active-tree-view {
  display: block;
}
.scrollbar{
  height: 300px;
  background: #F5F5F5;
  overflow-y: scroll;
}
.force-overflow {
  min-height: 450px;
}
.scrollbar-barcode {
  height: 93vh;
  overflow-y: scroll;
  background-color: white;
}


.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.activeAccordion, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.activeAccordion:after {
  content: "\2212";
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.select{
  border: none;
  display: block;
  cursor: pointer;
  color: rgb(26, 57, 88);
  width: 100%;
  padding: 10px;
  margin: 10px;
  height: 3rem;
  border: 1px solid #eaeaea;
  outline: none;
}
.select:hover{
  border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
  display: block;
  cursor: pointer;
  color: #789;
}
.select:focus{
  border-color: #4d90fe;
}

/* Style the tab */
.tab {
  padding: 0px;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

#datamatrixAllInOne{
  margin: auto;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.config {
  display: none;
}
.config label{
  display: block;
  margin-bottom: 0px;
}
.character-panel{
  display: flex;
  align-items: center;
}
.delete-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
}
.delete-button:hover{
   color:red;
 font-weight: bold;
 font-size: 1.75rem;
}
.delete-button:focus{
  outline: none;
}
.config input{
  border: none;
  padding: 10px;
  margin: 10px;
  height: 3rem;
  width: 100%;
  border: 1px solid #eaeaea;
  outline: none;
}
.config input:hover{
  border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
.config input:focus {
  border-color:#4d90fe;
}
.config input[type='radio'] { 
    padding: 1px;
    margin:1px;
    height: 1rem;
    width: fit-content;
    cursor: pointer;
}

.configuration-btn{
  margin: 2rem 0 2rem 0;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    display: block;
}
.configuration-btn::before{
  content: url('./images/setting.png');
  padding: 5px;
}

.configuration-btn:hover{
  cursor: pointer;
  color: rgb(22, 100 , 193);
}

.modal {
  display: block;
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.modal-active {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal__content {
  position: absolute;
  background-color: #fefefe;
  /* padding: 20px; */
  border: 2px solid #333;
  width: 70%;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__header {
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid;
}

.modal__header--title {
  color: rgb(4, 56, 105);
  font-size: 2rem;
}

.modal__body--file {
  padding: 10px;
  border-bottom: 1px solid;
  text-align: center;
}

.filechooser {
  border: 2px solid;
  padding: 0.2rem;
  font-size: 1.25em;
  font-weight: 700;
  /* color: white;
    background-color: black; */
  display: inline-block;

}

.filechooser:hover {
  cursor: pointer;
  color: rgb(24, 128, 224);
}

.modal__body--file input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

}

.modal__body--content {
  text-align: center;
  border-bottom: 1px solid;
}

.modal__body--content-areatext {
  color: #363235;
  width: 90%;
  overflow: auto;
  height: 50vh;
  resize: none;
  border: none;
  margin: 1rem 0 1rem 0;
  font-size: 1.5rem;
}

.modal__body--button {
  text-align: center;
  padding: 10px;
}

.modal-button {
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 10rem;
  color: white;
  background: rgb(24, 128, 224);
}

/* .modal__body--button-generate {
    background: rgb(24, 128, 224);
}

.modal__body--button-cancel {
    background: #888;
} */
.modal__body--button-cancel {}

.modal-button:hover,
.modal-button:focus {
  color: black;
  cursor: pointer;
}

.ascii-table {
  padding-bottom: 1rem;
  margin: 1rem auto;
}
.ascii-table button{
  height: 2rem;
  width: 3rem;
}

.ascii-table input {
  border: none;
  padding: 10px;
  margin: 10px;
  height: 3rem;
  width: 40%;
  border: 1px solid #b9b9b9;
  outline: none;
}

.ascii-table input:hover {
  border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

.ascii-table input:focus {
  border-color: #4d90fe;
}

.ascii-table input[type='radio'] {
  padding: 1px;
  margin: 1px;
  height: 1rem;
  width: fit-content;
  cursor: pointer;
}